<h1>Students</h1>

<% @students.in_groups_of(6) do |r| %>
    <div class="row">
    <% r.each do |student| %>
        <div class="large-2 columns">
        <% if student %>
            <%= link_to student_path(dn: student.dn) do %>
            <%= user_photo student %>
        <%= student.cn %>
    <% end %>

    <% end %>
    </div>
<% end %>
</div>
<% end %>


