<h1>Mentors</h1>
<% @mentors.in_groups_of(6) do |r| %>
    <div class="row">
    <% r.each do |mentor| %>
        <div class="large-2 columns">
        <% if mentor %>
            <%= link_to mentor_path(dn: mentor.dn) do %>
            <%= user_photo mentor %>
        <%= mentor.cn %>
    <% end %>

    <% end %>
    </div>
<% end %>
</div>
<% end %>
