<h2><%= @mentor.cn %></h2>

<h3>Groups</h3>
<ul>
    <% @mentor.groups.each do |group| %>
        <li><%= link_to group.cn, group_path(dn: group) %></li>
    <% end %>
</ul>

<%= render partial: 'users/accounts', locals: {user: @mentor} %>
<%= render partial: 'users/password', locals: {user: @mentor} %>
